<footer class="footer">
  <small>
    <a href="http://www.bjjl.cn/">北京市计量检测科学研究院</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系方式", contact_path %></li>
    </ul>
  </nav>
</footer>
